<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <remove key="tokenserver"/>
    <add key="tokenserver" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="xml" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.0.10.2:8081/Session.svc/~/xml" binding="basicHttpBinding"
        bindingConfiguration="xml" contract="WebInvoke.Session.session"
        name="xml" />
    </client>
    <services>
      <service behaviorConfiguration="DataServiceBehavior" name="Soway.Service.DataService">
        <endpoint address="" behaviorConfiguration="json" binding="webHttpBinding"
          name="json" contract="Soway.Service.IDataService" />
        <endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange" />
        <endpoint address="~/xml" binding="basicHttpBinding" bindingConfiguration=""
          name="xml" contract="Soway.Service.IDataService" />
      </service>
      <service behaviorConfiguration="XmlDataServiceBehavior" name="Soway.Service.XmlDataService">
        <endpoint address="" binding="basicHttpBinding" contract="Soway.Service.IXmlDataService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="json">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="DataServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="XmlDataServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--经·
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="false"/>
  </system.webServer>
  <connectionStrings>
    
    <remove name="dbSys"/>
    <add name="dbSys" connectionString="Server=192.168.1.7;Initial Catalog=NY_2016_SW_NEW_SYS;User ID=sa;Password=123"/>
    
  </connectionStrings>
</configuration>
