################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_modules
/obj/Debug
/.ntvs_analysis.dat.tmp
/.ntvs_analysis.dat
/public/javascripts/lib/animation
/public/javascripts/lib/contain
/public/javascripts/lib/container
/public/javascripts/lib/echarts
/public/javascripts/lib/mixin
/public/javascripts/lib/echarts.min.js
/public/javascripts/lib/Handler.js
/public/javascripts/lib/zrender
/public/javascripts/lib/core
/public/javascripts/lib/graphic
/public/javascripts/lib/svg
/public/javascripts/lib/tool
/public/javascripts/lib/config.js
/public/javascripts/lib/vml
/public/javascripts/lib/Element.js
/public/javascripts/lib/Layer.js
/public/javascripts/lib/Painter.js
/public/javascripts/lib/Storage.js
/public/javascripts/lib/zrender.js
/public/javascripts/lib/zrender.min.js
/.vs/NodeVersion/v14
